@import '../shared/scss/colors';

h2 {
  font-size: 20px;

  small {
    color: $muted-accent-color;
  }
}

.movie-card {
  position: relative;
  margin: 30px auto;
}
.movie-description {
  margin-top: 1em;
}
.runtime {
  font-weight: 300;

  strong {
    font-weight: 500;
    color: $accent-color;
  }
}

.synopsis {
  font-family: 'Fira Sans Condensed', serif;
  font-size: .85em;
  font-style: italic;
  min-height: 16ch;
}

img {
  background: $poster-bg-color;
  width: 100%;
  min-height: 320px;
  aspect-ratio: 1/1.4;
  object-fit: cover;
}
