<div class="container">
  <ul class="list-unstyled row" data-bs-theme="dark">

    <li *ngFor="let item of movies" class="movie-card col col-md-4 col-xl-3">
      <h2>{{item.title}}<br> &rsaquo; {{item.time}}min</h2>
      <img src="{{item.poster}}" alt="">

      <div class="movie-description">
        <p class="synopsis">{{item.synopsis}}</p>
        <p class="runtime">You will sleep by <strong>{{ item.time | endtime }}</strong></p>
        <a href="{{ item | watch }}" class="btn btn-primary" target="_blank">Where to watch?</a>
      </div>
    </li>

  </ul>
</div>
