$background-color: #1d1334;
$body-color: #f6f3ef;
$link-color: #1c69c2;
$poster-bg-color: #151515;

$accent-color: #daae73;
$header-color: lighten(desaturate(#daae73, 20%), 20%);
$muted-accent-color: desaturate(#daae73, 30%);
