<header class="container">
  <h1>
    Oh my!<wbr>
    <span>Look at<wbr> the time</span>
  </h1>
  <div class="row">
    <p class="byline">
      You have an appointment early in the morning, and it is already <strong>{{ time }}</strong>. But maybe, just maybe there is some time for a <app-genre-selector></app-genre-selector> movie.
    </p>
  </div>
</header>

<main>
  <app-featured-suggestions></app-featured-suggestions>
</main>


<footer class="container mt-4">
  <div class="provided-by row">
    <p>Data provided by <a href="http://themoviedb.org/" target="_blank">The Movie Database</a> API.</p>
  </div>
</footer>
