:host{
}
header {
  text-align: center;
  margin-inline: auto;
  font-size: 130px;
  color: #f6f3ef;
}
h1 {
  font-size: 1em;
  font-family: 'Tilt Warp', cursive;
  font-weight: 900;
  margin-bottom: -.25em;
  padding-bottom: 0;
  // font-family: 'Akatab', sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  // font-family: 'Lilita One', cursive;
  // font-family: 'Oswald', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Rowdies', cursive;
  // font-family: 'Signika Negative', sans-serif;
}
p {
  font-family: sans-serif;
  font-size: .2em;
}
