@import 'shared/scss/breakpoints';

header {
  text-align: center;
  margin-inline: auto;
  font-size: clamp(68px, 130px, 20vw);
  color: #dbd8d4;

  @media (min-width: $breakpoint-md) {
  }
}

h1 {
  font-size: 1em;
  line-height: 1;
  font-family: 'Tilt Warp', cursive;
  font-weight: 900;
  margin-bottom: -.05em;
  padding-bottom: 0;

  span {
    display: block;
    font-size: .6em;

    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
    @media (min-width: $breakpoint-lg) {
      display: inline;
      font-size: 1em;
      margin-left: .2em;
    }
  }
}

p {
  font-size: 22px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;

  @media (min-width: $breakpoint-lg) {
    font-size: clamp(.15em, 28px, .6em);
  }
}

