/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}
body {
  position: relative;
  font-size: 16px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  background: #1d1334;
  color: #f6f3ef;
}

a {
  color: #1c69c2;
}

footer {
  width: 100%;
  text-align: right;
  font-family: 'Fira Sans Condensed', serif;
  font-style: italic;
}
