/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'app/shared/scss/colors';

$enable-negative-margins: true;


html, body {
  height: 100%;
}
body {
  position: relative;
  font-size: 16px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  background: $background-color;
  color: $body-color;
}

a {
  color: $link-color;
}

footer {
  width: 100%;
  text-align: right;
  font-family: 'Fira Sans Condensed', serif;
  font-style: italic;
}
